# QDTech production first-provisioning defaults.
CONFIG_QDTECH_PROVISIONING_COMPAT=y
# CONFIG_QDTECH_EXPERIMENT_FAST_PROVISIONING_FALLBACK is not set
# CONFIG_QDTECH_EXPERIMENT_NETWORK_FIRST_BOOT is not set
# CONFIG_QDTECH_EXPERIMENT_STATELESS_SOFTAP_RF is not set
# CONFIG_QDTECH_EXPERIMENT_SOFTAP_CHANNEL_6_AB is not set
# CONFIG_QDTECH_EXPERIMENT_WIFI_RX_SELF_TEST is not set
# CONFIG_QDTECH_EXPERIMENT_WIFI_STA_TX_SELF_TEST is not set
# CONFIG_QDTECH_EXPERIMENT_SINGLE_DRIVER_APSTA_PROVISIONING is not set
# CONFIG_QDTECH_EXPERIMENT_RAW_BEACON_FALLBACK is not set
